.header__lang-link {
  margin-right: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  transition: linear 0.3s;

  text-align: right;
  text-decoration-line: none;
  color: #fff;
}
.header__lang-link:last-child {
  margin: 0;
}
.header__lang-link:hover {
opacity: 0.6;
}