.cover__subtitle {
  margin: 32px auto 245px;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
@media screen and (max-width:1024px) {
  .cover__subtitle {
    margin-bottom: 195px;
  }
}