.footer__link {
  margin: 0;
  margin-right: 18px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  transition: linear 0.3s;
}
.footer__link:last-child {
  margin: 0;
}
.footer__link:hover {
  opacity: 0.6;
  }