.place {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  gap: 48px 20px;
}
.place:last-child {
  margin: 0;
}
@media screen and (max-width:1024px) {
  .place {
    column-gap: 16px;
  }
}
@media screen and (max-width:768px) {
  .place {
    margin-bottom: 70px;
  }
}
@media screen and (max-width:320px) {
  .place {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 32px;
    margin-bottom: 64px;
  }
}